{% extends 'base.html.twig' %}

{% block title %}Register Admin
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Register</h1>

	{{ form_start(FormAdmin) }}
	{{ form_row(FormAdmin.email) }}
	{{ form_row(FormAdmin.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(FormAdmin.agreeTerms) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(FormAdmin) }}
{% endblock %}
