{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}

{% for centre in centres %}
    <p>{{ centre.ville }}</p><a href="{{ path('centre_edit',{'id':centre.id}) }}">modifier</a><br>
{% endfor %}
    <a href="{{ path('centre_add')}}">Ajouter</a>

{% for formation in formations %}
    <p>{{ formation.titre }}</p><a href="{{ path('formation_edit',{'id':formation.id}) }}">modifier</a><br>
{% endfor %}
    <a href="{{ path('formation_add')}}">Ajouter</a>

    <div>
    <h2>Modules</h2>
    <a href="{{ path('module_add')}}">Ajouter</a>
    {% for module in modules %} 
    <p>{{ module.ModuleOption }}</p><a href="{{ path('module_edit',{'id':module.id}) }}">Modifier</a>
    {% endfor %}
    </div>
{% endblock %}
