{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}

{% for centre in centres %}
    <p>{{ centre.ville }}</p><a href="{{ path('centre_edit',{'id':centre.id}) }}">modifier</a><br>
{% endfor %}
    <a href="{{ path('centre_add')}}">Ajouter</a>

{% for formation in formations %}
    <p>{{ formation.titre }}</p><a href="{{ path('formation_edit',{'id':formation.id}) }}">modifier</a><br>
{% endfor %}
    <a href="{{ path('formation_add')}}">Ajouter</a>
{% endblock %}
