{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('activitys_index') }}" > Retour </a>

<h2>{{ formation.titre }}</h2>

{% for module in formation.module %}
    <p>{{ module.moduleOption }}</p>
{% endfor %}

{% for session in formation.sessions %}
    <a href="{{ path('session_show', {'id':session.id}) }}">{{ session.titre }}</a>
{% endfor %}
{% endblock %}