{% extends 'base.html.twig' %}

{% block title %}liste des Session
{% endblock %}

{% block body %}
	<a href="{{path('plannings_index')}}">Retour à liste des Session
	</a>
	{% if editMode %}
		<h1>Modification d'un Session</h1>
	{% else %}
		<h1>Ajout d'un Session</h1>
	{% endif %}
	{{ form_start(formSession)}}
	{{form_row(formSession.titre)}}
	{{form_row(formSession.dateDebut)}}
	{{form_row(formSession.dateFin)}}
	{{form_row(formSession.type)}}
	{{form_row(formSession.nbrMax)}}
	{{form_row(formSession.nbrMin)}}
	{{form_row(formSession.formation)}}
	{{form_row(formSession.centre)}}
	<button type="submit" class="btn">valider</button>
	{{ form_end(formSession)}}
{% endblock %}
