{% extends 'base.html.twig' %}

{% block title %}Hello Session!
{% endblock %}

{% block body %}
<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
	<thead>
		<tr>
			<th>session</th>
			<th>date_debut</th>
			<th>date_fin</th>
			<th>type</th>
			<th>nbr_max</th>
			<th>nbr_min</th>
			<th>formation</th>
			<th>Centre</th>
			<th>Modifier</th>
			<th>Delete</th>
		</tr>

	</thead>
	<tbody>
		{% for session in sessions %}
			<tr>
				<td>
					<a href="{{ path('session_show', {'id':session.id}) }}">{{ session.titre }}</a>
				</td>
				<td>{{ session.dateDebut|date("Y:m:d") }}</td>
				<td>{{ session.dateFin |date("Y:m:d") }}</td>
				<td>{{ session.type }}</td>
				<td>{{ session.nbrMax }}</td>
				<td>{{ session.nbrMin }}</td>
				<td>{{ session.formation.titre }}</td>
				<td>{{ session.centre.ville }}</td>
				<td>
					<a class="uk-button" href="{{ path('session_edit', {'id':session.id}) }}">Modifier</a>
				</td>
				<td>
					<a class="uk-icon-link" uk-icon="trash" href="{{ path('session_del', {'id':session.id}) }}"></a>
				</td>

			</tr>
		</a>
	</tbody>
		</td></tr>
		
{% endfor %}
		<td><a class="uk-button" href="{{ path('session_add') }}">Add Session</a></td>
		<td><a class="uk-button" href="{{ path('Add_stagiaireSession') }}">Add Stagiaire au Session</a></td></tbody>
		</table>

		<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Ville</th>
				<th>Email</th>
				<th>Modifier</th>
			</tr>
		</thead>
		<tbody>
		<tr>{% for stagiaire in stagiaires %}
		<td>
			<a href="{{ path('stagiaire_show', {'id':stagiaire.id}) }}">{{ stagiaire.nom }}</a>
		</td>
		<td>{{ stagiaire.prenom }}</td>
		<td>{{ stagiaire.ville }}</td>
		<td>{{ stagiaire.email }}</td>
		<td><a class="uk-button" href="{{ path('stagiaire_edit', {'id':stagiaire.id}) }}">Modifier</a></td>
{% endfor %}
	</tr></tbody></table>
		<a href="{{ path('stagiaire_add') }}" class="uk-button">
		Ajouter un stagiaire
			</a>
{% endblock %}
