{% extends 'base.html.twig' %}

{% block title %}Hello Session!
{% endblock %}

{% block body %}
<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
	<thead>
		<tr>
			<th>date_debut</th>
			<th>date_fin</th>
			<th>type</th>
			<th>nbr_max</th>
			<th>nbr_min</th>
			<th>formation</th>
			<th>Centre</th>
			<th>stagiaire</th>
			<th>Modifier</th>
			<th>Delete</th>
		</tr>

	</thead>
	<tbody>
		{% for Session in Sessions %}
			<tr>
				<td>
					<a href="{{ path('Session_show', {'id':Session.id}) }}">{{ Session.formation }}</a>
				</td>
				<td>{{ Session.DateDebut }}</td>
				<td>{{ Session.DateFin }}</td>
				<td>{{ Session.type }}</td>
				<td>{{ Session.nbrMax |date('d/m/Y') }}</td>
				<td>{{ Session.nbrMin }}</td>
				<td>{{ Session.formation }}</td>
				<td>{{ Session.Centre }}</td>
				<td>{{ Session.stagiaire }}</td>
				<td>
					<a class="uk-button" href="{{ path('Session_edit', {'id':Session.id}) }}">Modifier</a>
				</td>
				<td>
					<a class="uk-icon-link" uk-icon="trash" href="{{ path('Session_del', {'id':Session.id}) }}"></a>
				</td>

			</tr>
		</a>
	</tbody>
</td></tr>{% endfor %}<td><a class="uk-button" href="{{ path('Session_add') }}">Add Session</a></td></tbody></table>{% endblock %}
