{% extends 'base.html.twig' %}

{% block title %}Hello Session!
{% endblock %}

{% block body %}
<div class="uk-container uk-container-small">
	<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
		<thead>
			<tr>
				<th>session</th>
				<th>formation</th>
				<th>Centre</th>
				<th>Modifier</th>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Delete</th>
				{% endif %}
			</tr>

		</thead>
		<tbody>
			{% for session in sessions %}
				<tr>
					<td>
						<a href="{{ path('session_show', {'id':session.id}) }}">{{ session.titre }}</a>
					</td>
					<td>{{ session.formation.titre }}</td>
					<td>{{ session.centre.ville }}</td>
					<td>
						<a class="uk-button uk-button-primary " href="{{ path('session_edit', {'id':session.id}) }}">Modifier</a>
					</td>
				{% if is_granted("ROLE_ADMIN") %}
					<td>
						<a class="uk-icon-link" uk-icon="trash" href="{{ path('session_del', {'id':session.id}) }}"></a>
					</td>
				{% endif %}
				</tr>
			</a>
		</tbody>
			</td></tr>
			
	{% endfor %}
			</tbody>
			</table>
		</div>
			{% if is_granted("ROLE_ADMIN") %}
			<div class="centerbutton"><a class="uk-button uk-button-primary " href="{{ path('session_add') }}">Add Session</a></div>
			{% endif %}
		<div class="uk-container uk-container-small">
		<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
		<thead>
			<tr>
				<th>Stagiaire</th>
				<th>Ville</th>
				<th>Email</th>
				<th>Modifier</th>
			{% if is_granted("ROLE_ADMIN") %}
				<th>Supprimer</th>
			{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for stagiaire in stagiaires %}
		<tr>
		<td><a href="{{ path('stagiaire_show', {'id':stagiaire.id}) }}">{{ stagiaire.prenom ~" "~ stagiaire.nom }}</a></td>
		<td>{{ stagiaire.ville }}</td>
		<td>{{ stagiaire.email }}</td>
		<td><a class="uk-button" href="{{ path('stagiaire_edit', {'id':stagiaire.id}) }}">Modifier</a></td>
		{% if is_granted("ROLE_ADMIN") %}
		<td><a class="uk-icon-link" uk-icon="trash" href="{{ path('stagiaire_del', {'id':stagiaire.id}) }}"></a></td>
		{% endif %}
	</tr>
{% endfor %}
	</tbody></table>
	</div>
	<div class="centerbutton">
		<a href="{{ path('stagiaire_add') }}" class="uk-button uk-button-primary ">
		Ajouter un stagiaire
			</a>
	</div>
{% endblock %}
