{% extends 'base.html.twig' %}

{% block title %}
	{{ session.titre }}!
{% endblock %}

{% block body %}
	<h1>{{ session.titre }}</h1>
	{% for stagiaire in session.stagiaires %}
				<tr>
					<td>{{ stagiaire.nom }}</td>
				</tr>
			</a>
		</tbody>
			</td></tr>
	{% endfor %}
	<form action="{{ path("add_stagiaire",{id:session.id}) }}">
		<select name="stagiaire">
		{% for stagiaire in stagiaires %}
			<option value="{{ stagiaire.id }}">{{ stagiaire }}</option>
		{% endfor %}
		</select>
		<input type="submit">
	</form>
{% endblock %}
