{% extends 'base.html.twig' %}

{% block title %}
	{{ session.titre }}!
{% endblock %}

{% block body %}
	<h1>{{ session.titre }}</h1>
	<h3><a href="{{ path('formation_show', {'id':session.formation.id}) }}">{{ session.formation.titre }}</a></h3>
	{% for stagiaire in session.stagiaires %}
		<p><a uk-icon="icon:user" href="{{ path('stagiaire_show', {'id':stagiaire.id}) }}">{{ stagiaire.nom ~" "~ stagiaire.prenom }}</a></p>		
	{% endfor %}
	
	<form action="{{ path("add_stagiaire",{id:session.id}) }}">
		<select class="uk-select" name="stagiaire">
		{% for stagiaire in stagiaires %}
				<option value="{{ stagiaire.id }}">{{ stagiaire }}</option>
		{% endfor %}
		</select><br>
		<input class="uk-button uk-button-primary" type="submit" value="Ajouter un stagiaire">
	</form>
{% endblock %}
