{% extends 'base.html.twig' %}

{% block title %}
	{{ session.titre }}!
{% endblock %}

{% block body %}
	<h1>{{ session.titre }}</h1>
	{% for stagiaire in session.stagiaires %}
		<p>{{ stagiaire.nom }}</p>			
	{% endfor %}
	<form action="{{ path("add_stagiaire",{id:session.id}) }}">
		<select class="uk-select" name="stagiaire">
		{% for stagiaire in stagiaires %}
				<option value="{{ stagiaire.id }}">{{ stagiaire }}</option>
		{% endfor %}
		</select><br>
		<input class="uk-button uk-button-primary" type="submit" value="Ajouter un stagiaire">
	</form>
{% endblock %}
